/* about Styles */

.about-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: center;
}

.about {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 1400px;
}

.about-left {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

.about-photo {
  height: 570px;
  object-fit: contain;
}

.about-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.about-right h1 {
  font-size: 60px;
}

.about-right h2 {
  font-size: 30px;
  line-height: 0px;
}

.about-description {
  font-size: 18px;
  font-weight: 300;
  color: lightgrey;
  text-align: justify;
}

.about-description p {
  padding-top: 10px;
}

.social-button img {
  width: 32px; 
  height: 32px;
}