/* About Styles */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about-img img {
  width: 30vw;
}

.about-img {
  transition: .4s ease;
}

.about-img:hover {
  transform: scale(1.04);
}

.about-content h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.about-content h2 span {
  color: var(--primary-color);
}

.about-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.about-content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.social-media a {
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-align: center;
  margin-right: .5rem;
  padding: .3rem .7rem;
  transition: .4s ease;
}

.social-media a i {
  font-size: 1.2rem;
  vertical-align: middle;
}

.social-media a:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  transition: .4s ease;
}