/* Contact Styles */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 8rem 3rem;
}

.contact-form {
  display: flex;
  width: 500px;
  background: #17152b;
  border: solid 1px #373457;
  color: white;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}

.contact-form h2 {
 font-size: 38px;
 margin-bottom: 40px;
}

.contact-form h2 span {
  color: var(--primary-color)
 }

.form-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

input, textarea {
 color: antiquewhite;
 padding: 20px;
 background-color: #211f3a;
 border: solid 1px #343447;
 border-radius: 10px;
}

.contact-button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.loading-icon {
  font-size: 1.8em;
  vertical-align: middle;
}

.show {
  display: inline-flex !important;
}

.hide {
  display: none !important;
}

.error {
  font-size: 12px;
  color: red;
  font-weight: 400;
  padding: 2px;
}

.input-error {
  border: solid 1px red !important;
}

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin: auto;
  width: 300px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  animation: slideInLeft 1s, slideOutLeft 1s 3s;
}

@keyframes slideInLeft {
  0% {
    left: -400px;
  }
  100% {
    left: 20px;
  }
}

@keyframes slideOutLeft {
  0% {
    left: 20px;
  }
  100% {
    left: -400px;
  }
}

#contact-astronaut {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

#contact-astronaut img {
  width: 27vw;
  animation: animate 2s infinite ease alternate;
}