/* Hero tyles  */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero-content h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

.hero-title {
  margin-bottom: 2rem;
}

.hero-title span {
  font-weight: 700;
  color: var(--primary-color);
}

.hero-content h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.hero-button {
  display: inline-block;
  font-size: 1.1rem;
  width: 250px;
  padding: 10px;
  font-weight: 700;
  letter-spacing: .1rem;
}

.hero-img img {
  width: 25vw;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate {
  to {
    transform: translateY(30px);
  }
}