/* Works Styles */

.works {
  padding: 10rem;
}

.works h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.works h2 span {
  color: var(--primary-color);
}

.section-title h2 {
  font-size: 40px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 420px;
  height: 610px;
  background: #211f3a;
  border: solid 1px #373457;
  border-radius: 10px;
  color: white;
  padding: 20px 17px;
  transition: .4s ease;
}

.cards-box, .card:hover {
  border-color: #5b5781;
  transform: scale(1.04);
}

.card-image-button {
  position: relative;
}

.card-image-button img {
  width: 380px;
  height: 300px;
  border-radius: 10px;
}

.card-image-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: solid 1px #1e1c35;
  background-color: #0d0a20;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  transition: .3s ease;
}

.card-image-button a:hover {
  color: var( --secondary-color);
  background-color: #fafafa;
  border: solid 1px #ffffff;
  transition: .3s ease;
}

.card-description {
  font-size: 1.1rem;
  font-weight: 300;
}

.card-title {
  font-size: 24px;
  color: white;
  font-weight: 700;
  transition: .3s ease;
}

.card-title:hover {
  color: var(--primary-color);
  transition: .3s ease;
}

.card-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}

.tag-red {
  color: #BA5067;
}

.tag-blue {
  color: #5066b9;
}

.tag-green {
  color: #8ac926;
}